@font-face {
    font-family: 'Pally';
    src: local('Pally-Bold'), url('/fonts/Pally/Pally-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Supreme';
    src: local('Supreme-Regular'), url('/fonts/Supreme/Supreme-Regular.ttf') format('truetype');
}

body {
    font-family: 'Supreme', sans-serif !important;
}

.supreme {
    font-family: 'Supreme', sans-serif !important;
}

.pally {
    font-family: 'Pally', sans-serif !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}