/* Global styles */
html {
    margin: 0 !important;
    padding: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

@font-face {
    font-family: 'Pally';
    src: local('Pally-Bold'), url('/fonts/Pally/Pally-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Supreme';
    src: local('Supreme-Regular'), url('/fonts/Supreme/Supreme-Regular.ttf') format('truetype');
}

body {
    font-family: 'Supreme', sans-serif !important;
}

.supreme {
    font-family: 'Supreme', sans-serif !important;
}

.pally {
    font-family: 'Pally', sans-serif !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, between 600px and 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}